<div class="col">
    <div class="card">
        <h2>Type a Word Below to see if it's a pyramid word</h2>
        <form (submit)="CheckWord()">
            <input class="form-control" type="text" name="EnteredWord" required minlength="2" [(ngModel)]="EnteredWord">
            <input class="btn-dark" type="submit" value="Check Word">
        </form>
    </div>
</div>
<div class="col">
    <div *ngIf="IfPyWordBool == true || IfPyWordBool == false ; else elseCard" class="card">
        <h1 class="card-header">{{Inputword}}</h1>
        <h3 style="color: green;" *ngIf="IfPyWordBool ; else elseBlock">Yes, This word is a Pyramid Word</h3>
        <!-- <h3 style="color: red;">Sorry, This is not a Pyramid Word</h3> -->
        <ng-template #elseBlock>
            <h3 style="color: red;">Sorry, This is not a Pyramid Word</h3>
        </ng-template>
        <h1 *ngFor="let x of printOut">{{x}}</h1>
    </div>

    <ng-template class="col" #elseCard>
        <div  *ngIf="WordFromDb">
            <div class="card">
                <h1 class="card-header">{{WordFromDb.word}}</h1>
                <h3 style="color: green;" *ngIf="WordFromDb.pyword ; else elseBlock">Yes, This word is a Pyramid Word</h3>
                <ng-template #elseBlock>
                    <h3 style="color: red;">Sorry, This is not a Pyramid Word</h3>
                </ng-template>
                <h1 *ngFor="let x of WordFromDb.printout">{{x}}</h1>
            </div>
        </div>
    </ng-template>
</div>