.container{
    zoom: 67%;
}
.jumbotron{
    background-color: #FF9900;
    color: white;
    font-family: monospace;
    text-align: center;
}
small{
    font-size: medium;
}
.navbar{
    background-color: #2F4858
}
img{
    display: inline-block;
    width: 110%;
}
a,li{
    display: inline-block;
}
.fa-play{
    color: #FF9900;
    display: inline-block;
    transform: rotate(-90deg);
}
