<div class="card">
    <div class="row card-header">
        <div class="col">
            <h3>About</h3>
        </div>
        <div class="col text-right">
            <i class="fab fa-2x fa-angular"></i>
            <i class="fab fa-2x fa-bootstrap"></i>
            <i class="fas fa-2x fa-database"></i>
        </div>
    </div>
    <p>This web app is built with the <b>MEAN</b> stack.</p>
    <ul>
        <li><b>MongoDB</b> Database</li>
        <li>Express Server</li> 
        <li><b>Angular</b> For Front end </li>
    </ul>
    <span>I utilize Angular components and Angular routing.</span>
    <span>I also implemented <b>Bootstrap</b> for styling. </span>
    <hr>
    <p class="aboutP">
        When a word is entered into the input and submit is clicked
        the function runs first checking if the word has been checked before.
        I am using a database to store words that have been previously entered.
        If the word does not exists in the database it will run thought the
        algorithm to determine if it is a pyramid word. Then it will take that information
        and save it to the database for future reference.
    </p>
    <p>
        This site is deployed on AWS with Windows Server using IIS.
    </p>



 


</div>
